.button-apply-book {
	width: 100px;
	height: 40px;
	background-color: black;
	border-radius: 3px;
	outline: none;
	border: none;
	font-family: $base-font;
	font-size: 10px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.7px;
	text-align: center;
	color: #333333;
	text-transform: uppercase;
	@media (min-width: 600px) {
		&:hover {
			background-color: $MERGE-SECONDARY-COLOR;
			color: $TEXT-COLOR;
			transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
		}
		&:not(:hover) {
			transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
		}
	}
	
}
