<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../../../css/style.css">
	<title>Document</title>
</head>
<body>
	<div class="resident-card__wrapper">
		<div class="resident-card">
			<button class='rc-close'>
				<svg class="rc-close__img">
					<use xlink:href='#close-card' />
				</svg>
			</button>
			<div class="resident-card__inner resident-card__inner--top">
				<p class="resident-card__title">
					Resident Card
				</p>
				<p class="resident-card__description">
					Access for the Month
				</p>
				<div class="resident-card__label">
					<svg class="resident-card__image">
						<use xlink:href='#meeting-room' />
					</svg>
					<p class="resident-card__text">
						1 hour two times per week of Meeting Room's using is free
					</p>
				</div>
				<div class="resident-card__label">
					<svg class="resident-card__image">
						<use xlink:href='#lecture' />
					</svg>
					<p class="resident-card__text">
						Free accessment to paid events in Merge
					</p>
				</div>
			</div>
			<div class="resident-card__line"></div>
			<div class="resident-card__inner resident-card__inner--middle">
				<div class="resident-card__label">
					<svg class="resident-card__image">
						<use xlink:href='#wifi' />
					</svg>
					<p class="resident-card__text">Super-fast Internet</p>
				</div>
				<div class="resident-card__label">
					<svg class="resident-card__image">
						<use xlink:href='#printer' />
					</svg>
					<p class="resident-card__text">Wireless Printer/ Scanner/ Copier</p>
				</div>
				<div class="resident-card__label">
					<svg class="resident-card__image">
						<use xlink:href='#microwave' />
					</svg>
					<p class="resident-card__text">Kitchen with a microvawe and fridge</p>
				</div>
				<div class="resident-card__label">
					<svg class="resident-card__image">
						<use xlink:href='#cofee' />
					</svg>
					<p class="resident-card__text">Unlimited coffee, tea, snacks</p>
				</div>
				<div class="resident-card__label">
					<svg class="resident-card__image">
						<use xlink:href='#shower' />
					</svg>
					<p class="resident-card__text">Shower</p>
				</div>
			</div>
			<div class="resident-card__inner resident-card__inner-bottom">
				<p class="resident-card-price">
					Price:
					<span class="resident-card__sum">1000</span>
				</p>
				<button class="resident-card__button">
					<p class='resident-card__text'>
						BECOME A RESIDENT
						<svg class='button-resident__img'>
							<use xlink:href='#arrow-button' />
						</svg>
					</p>
				</button>
			</div>
		</div>
	</div>
</body>
</html>