<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../../../css/style.css">
	<title>Coworking Space</title>
</head>

<body>
	<nav class="navigation navigation--border">
		<svg class="logo">
			<use xlink:href='#logo' />
		</svg>
		<section class="button-menu__wrapper">
			<div class="button-menu__cloud">MENU</div>
			<button id='go-to-menu' class="button-menu" onclick="goToMenu()">
				<div class="button-menu__item"></div>
			</button>
		</section>
		<section class="social-networks">
			<a href="#" class="social-networks__link">
				<svg class="social-networks__img">
					<use xlink:href='#telegram' />
				</svg>
			</a>
			<a href="#" class="social-networks__link">
				<svg class="social-networks__img">
					<use xlink:href='#facebook' />
				</svg>
			</a>
			<a href="#" class="social-networks__link">
				<svg class="social-networks__img">
					<use xlink:href='#instagram' />
				</svg>
			</a>
		</section>
	</nav>
	<div class="coworking">
		<div class="coworking__wrapper">
			<div class="coworking__inner">
				<header class="coworking__header">
					<h1 class="coworking__title">
						Coworking<br>
						Space
					</h1>
					<button class="button-membership" onclick="becomeMember()">
						<p class='button-membership__text'>
							BECOME A MEMBER
							<svg class='button-membership__img'>
								<use xlink:href='#arrow-button' />
							</svg>
						</p>
					</button>
				</header>
				<section class="view-360">
					<div class="view-360__row">
						<button class="view-360__button">
							360° view
						</button>
					</div>
					<div class="view-360__inner">
						<img src="../../../image/merge-4.png" alt="image" class="view-360__image">
					</div>
				</section>
				<section class="beneffits">
					<div class="beneffits__label">
						<object data="../../../image/wi-fi.svg" type="image/svg+xml" class="beneffits__image"></object>
						<p class="beneffits__text">
							Super-fast Internet
						</p>
					</div>
					<div class="beneffits__label">
						<object data="../../../image/meeting-room.svg" type="image/svg+xml" class="beneffits__image"></object>
						<p class="beneffits__text">
							Meeting Room
						</p>
					</div>
					<div class="beneffits__label">
						<object data="../../../image/printer.svg" type="image/svg+xml" class="beneffits__image"></object>
						<p class="beneffits__text">
							Wireless Printer/Scanner/Copier
						</p>
					</div>
					<div class="beneffits__label">
						<object data="../../../image/unlimited-coffee-tea.svg" type="image/svg+xml" class="beneffits__image"></object>
						<p class="beneffits__text">
							Unlimited coffee, tea, snacks
						</p>
					</div>
					<div class="beneffits__label">
						<object data="../../../image/microwave.svg" type="image/svg+xml" class="beneffits__image"></object>
						<p class="beneffits__text">
							Kitchen with a microvawe and fridge
						</p>
					</div>
					<div class="beneffits__label">
						<object data="../../../image/shower.svg" type="image/svg+xml" class="beneffits__image"></object>
						<p class="beneffits__text">
							Shower
						</p>
					</div>
					<div class="beneffits__label">
						<object data="../../../image/merge-dots.svg" type="image/svg+xml" class="beneffits__image"></object>
						<p class="beneffits__text">
							Merge community
						</p>
					</div>
					<div class="beneffits__button">
						<button class="button-membership" onclick="becomeMember()">
							<p class='button-membership__text'>
								BECOME A MEMBER
								<svg class='button-membership__img'>
									<use xlink:href='#arrow-button' />
								</svg>
							</p>
						</button>
					</div>
				</section>
				<section class="coworking__slider">
					<button class="coworking__label-button">
						Photos
					</button>
					<div class="slider-room">
						<div class="slider-room__slide">
							<img id='slide-image' src="https://picsum.photos/1280/720/?random" alt="photo" class="slider-room__image">
						</div>
						<div class="slider-room__nav">
							<button id='slide-prev' class="slider-room__button slider-room__button--prev">
								<svg class='slider-room__nav-icon'>
									<use xlink:href='#chevron-left' />
								</svg>
							</button>
							<p class="slider-room__counter-box">
								<span class="sider-room__counter"></span>
								/
								<span class="sider-room__sum"></span>
							</p>
							<button id='slide-next' class="slider-room__button slider-room__button--next">
								<svg class='slider-room__nav-icon'>
									<use xlink:href='#chevron-right' />
								</svg>
							</button>
						</div>
					</div>
				</section>
			</div>
		</div>
		<section class="next-page-nav">
			<a href='../meeting-room/meeting-room.html' class="next-page-nav__link next-page-nav__link--meeting-room">
				<div class="next-page-nav__inner">
					<p class="next-page-nav__text">
						MEETING ROOM
					</p>
				</div>
			</a>
			<a href='#' class="next-page-nav__link next-page-nav__link--events">
				<div class="next-page-nav__inner">
					<p class="next-page-nav__text">
						Events
					</p>
				</div>
			</a>
		</section>
	</div>

	<svg style="display: none">
		<symbol id='arrow-button'>
			<path stroke-width="1" stroke-miterlimit="4" transform="matrix(0.685894 0.685894 -0.685894 0.685894 6.45996 0.409277)"
			 d="M2.66654 0L2.66654 1.06667L6.18121 1.06667L-0.00012207 7.248L0.751878 8L6.93321 1.81867L6.93321 5.33333L7.99988 5.33333L7.99988 0L2.66654 0L2.66654 1.06667L6.18121 1.06667L-0.00012207 7.248L0.751878 8L6.93321 1.81867L6.93321 5.33333L7.99988 5.33333L7.99988 0L2.66654 0Z" />
		</symbol>
		<symbol id='logo' viewBox="0 0 31 40">
			<path fill-rule="evenodd" d="M20.4593069,32.8365086 L23.8888332,29.1227295 L31,36.2862209 L27.570731,40 L20.4593069,32.8365086 Z M15.4625816,0 L26.0850832,10.7005349 L18.0964043,10.7005349 L18.0964043,25.4662469 L3.77682656,39.9891419 L0,36.2971308 L12.693955,23.3086219 L12.693955,10.7005349 L4.89641986,10.7005349 L15.4625816,0 Z"
			 id="Combined-Shape"></path>
		</symbol>
		<symbol id='close' viewBox="0 0 24 24">
			<polygon id="Shape" points="19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12"></polygon>
		</symbol>
		<symbol id='telegram' viewBox="0 0 448 512">
			<path d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"></path>
		</symbol>
		<symbol id='facebook' viewBox="0 0 264 512">
			<path d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"></path>
		</symbol>
		<symbol id='instagram' viewBox="0 0 448 512">
			<path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
		</symbol>
		<symbol id='chevron-left' viewBox="0 0 24 24">
			<path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
			<path d="M0 0h24v24H0z" fill="none" />
		</symbol>
		<symbol id='chevron-right' viewBox="0 0 24 24">
			<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
			<path d="M0 0h24v24H0z" fill="none" />
		</symbol>
	</svg>
	<script src="../../../js/sliderRoom.js"></script>
	<script>
		function menuHref() {
			location.href = "../menu/menu.html";
		};
		function goToMenu() {
			setTimeout(menuHref, 200);
		};
		function bookRoomHref() {
			location.href = "../meeting-room/meeting-room.html";
		};
		function bookRoom() {
			setTimeout(bookRoomHref, 200);
		};
		function becomeMemberHref() {
			location.href = "../booking-workplace/booking-workplace.html";
		};
		function becomeMember() {
			setTimeout(becomeMemberHref, 200);
		};
	</script>
</body>

</html>