.resident-time-info {
	&__wrapper {
		display: none;
		padding-bottom: 2rem;
		animation-name: pullDown;
		animation-duration: 0.5s;
		animation-timing-function: ease-in-out;
		animation-delay: 1s;
		transform-origin: 50% 0%;
	}
	position: relative;
	background-color: black;
	border-radius: 3px;
	transform: scaleX(1.04);
	transform-origin: right center;
	padding: 1rem 0 0.7rem 1.1rem;
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 0.4rem;
	align-items: center;
	justify-items: start;
	&::before {
		top: -10px;
		left: 1.2rem;
		border: solid transparent;
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: transparent;
		border-bottom-color: black;
		border-width: 5px;
		animation-name: pullDown;
		animation-duration: 0.5s;
		animation-timing-function: ease-in-out;
		animation-delay: 1s;
		transform-origin: 50% 100%;
	}
	
	
	&__title {
		font-family: $base-font;
        font-size: 0.625rem;
        font-weight: 500;
        text-align: left;
        color: $GREY;
	}
	&__text {
		font-family: $base-font;
		font-size: 0.8125rem;
		font-weight: 500;
		line-height: 2;
		text-align: left;
		color: $TEXT-COLOR;
		&--red {
			color: red;
		}
	}
}