<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../../../css/style.css">
	<title>Document</title>
</head>

<body>
	<div class="meeting-room__wrapper">
		<div class="logo__wrapper">
			<svg class="logo">
				<use xlink:href='#logo' />
			</svg>
		</div>
		<div class="meeting-room">
			<div class="button-back__wrapper meeting-room__button-back-wrapper">
				<button class="button-back" onclick="goToHello()">
					<svg class="button-back__img">
						<use xlink:href='#arrow-left' />
					</svg>
					<div class="button-back__outside"></div>
				</button>
				<p class="button-back__text">go back</p>
			</div>
			<h2 class="meeting-room__title">
				Meeting Room<br>
				Resevation
			</h2>
			<form action="" id='meeting-room-form' name='meeting-room' class="meeting-room__form">
				<p class="meeting-room__date-label">
					Day
				</p>
				<p class="meeting-room__date-choice meeting-room__date-choice--day">
					12 May, 2018
				</p>
				<p class="meeting-room__date-label meeting-room__date-label--time">
					Time
				</p>	
				<p class="meeting-room__date-choice meeting-room__date-choice--time">
					11:00 — 12:20 (1h 20m)
				</p>
<!-- TODO: javascript new Date-->
				<button class="meeting-room__edit-date">
					<svg class="meeting-room__edit-icon">
						<use xlink:href='#icon-edit' />
					</svg>
					<p class="meeting-room__edit-text">edit</p>
				</button>
				<div class="meeting-room__input-wrapper">
					<label for="meeting-name" class="meeting-room__label meeting-room__label--name">
						NAME
					</label>
					<input type="text" id="meeting-name" class="meeting-room__input meeting-room__input--name" required placeholder="Andrey Malishko">
					<label for="meeting-phone" class="meeting-room__label meeting-room__label--phone">
						PHONE
					</label>
					<input type="tel" id='meeting-phone' class="meeting-room__input meeting-room__input--phone" required placeholder="+38 (000) 000 00-00">
				</div>

				<label for="meeting-resident" class="meeting-room__resident-label">
					<input type="checkbox" form='meeting-room-form' id='meeting-resident' class="meeting-room__resident-input">
					<div class="meeting-room__resident-check">
						<svg class="meeting-room__resident-img">
							<use xlink:href='#icon-checkbox'/>
						</svg>
					</div>
					<p class="meeting-room__resident-text">
						I'm a Resident
					</p>
				</label>
			</form>
<!-- TODO: check form -->
			<div class="check-free-time__wrapper">
				<form id='check-free-time' class="check-free-time">
						<p class="check-free-time__text">
							Put your E-Mail for checking availability of free hours for Meeting Room's using
						</p>
						<input form='check-free-time' type="email" class="check-free-time__email" placeholder="Email">
						<button form='check-free-time' class="check-free-time__button">
							CHECK
						</button>
				</form>
			</div>
			<div class="resident-time-info__wrapper">
				<div class="resident-time-info">
					<p class="resident-time-info__title">
						Resident
					</p>
					<p class="resident-time-info__title">
						Duration
					</p>
					<p class="resident-time-info__title">
						Count of Free Hours
					</p>
<!-- TODO: form-->
					<p class="resident-time-info__text">
						(Pasha Tseluyko)
					</p>
					<p class="resident-time-info__text">
						(Pasha Tseluyko)
					</p>
					<p class="resident-time-info__text resident-time-info__text--red">
						(1 h.)
					</p>
				</div>
			</div>
			<div class="meeting-room__apply-wrapper">
				<p class="booking-price meeting-room__price">
					Price:
					<span class="booking-price__sum">1000</span>
				</p>
				<button form='meeting-room-form' class="button-apply-book meeting-room__apply" form='meeting-room-form'>
					BOOK
				</button>
			</div>
		</div>
	</div>

	<svg style="display: none;">
		<symbol id='icon-checkbox' viewBox="0 0 24 24">
			<path fill-rule="evenodd" d="M5 12.192l1.4-1.346 3.6 3.462L17.6 7 19 8.346 10 17z"/>
		</symbol> 
		<symbol id='logo' viewBox="0 0 31 40">
			<path fill-rule="evenodd" d="M20.4593069,32.8365086 L23.8888332,29.1227295 L31,36.2862209 L27.570731,40 L20.4593069,32.8365086 Z M15.4625816,0 L26.0850832,10.7005349 L18.0964043,10.7005349 L18.0964043,25.4662469 L3.77682656,39.9891419 L0,36.2971308 L12.693955,23.3086219 L12.693955,10.7005349 L4.89641986,10.7005349 L15.4625816,0 Z"
			 id="Combined-Shape"></path>
		</symbol>
		<symbol id='arrow-left'>
			<path stroke="none" transform="matrix(-0.664679 0.664682 0.664682 0.664679 8.66016 0.303762)" d="M4 0L4 1.6L9.272 1.6L0 10.872L1.128 12L10.4 2.728L10.4 8L12 8L12 0L4 0L4 1.6L9.272 1.6L0 10.872L1.128 12L10.4 2.728L10.4 8L12 8L12 0L4 0Z" />
		</symbol>
		<symbol id='icon-edit' viewBox="0 0 24 24">
			<path fill-rule="evenodd" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
		</symbol>
	</svg>
	<script>
		function helloHref() {
			location.href="../hello/hello.html";
		};
		function goToHello() {
			setTimeout(helloHref, 200);
		};
</script>
</body>

</html>