<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../../../css/style.css">
	<title>Document</title>
</head>

<body>
	<div class="meeting-room__wrapper">
		<div class="logo__wrapper">
			<svg class="logo">
				<use xlink:href='#logo' />
			</svg>
		</div>
		<div class="meeting-room">
			<div class="button-back__wrapper meeting-room__button-back-wrapper">
				<button class="button-back">
					<svg class="button-back__img">
						<use xlink:href='#arrow-left' />
					</svg>
				</button>
				<p class="button-back__text">go back</p>
			</div>
			<h2 class="meeting-room__title">
				Meeting Room
				Resevation
			</h2>
			<form action="" id='meeting-room-form' name='meeting-room' class="meeting-room__form">
				<label for="meeting-date" class="meeting-room__date-label">
					Day
				</label>
				<input type="date" id="meeting-date" class="meeting-room__date-choice">
				<label for="meeting-time" class="meeting-room__date-label meeting-room__date-label--time">
					Time
				</label>
				<input type="time" id="meeting-time" class="meeting-room__date-choice meeting-room__date-choice--time">
				<button class="meeting-room__edit-date">
					<svg class="meeting-room__edit-icon">
						<use xlink:href='#icon-edit' />
					</svg>
					<p class="meeting-room__edit-text">edit</p>
				</button>
				<label for="meeting-name" class="meeting-room__label meeting-room__label--name">
					NAME
				</label>
				<input type="text" id="meeting-name" class="meeting-room__input meeting-room__input--name">
				<label for="meeting-phone" class="meeting-room__label meeting-room__label--phone">
					PHONE
				</label>
				<input type="tel" id='meeting-phone' class="meeting-room__input meeting-room__input--phone">
				<label for="meeting-check-resident" class="meeting-room__check-label">
					<input type="checkbox" id='meeting-check-resident' class="meeting-room__check-resident">
					I'm a Resident
				</label>
			</form>
			<div class="meeting-room__apply-wrapper">
				<p class="booking-price meeting-room__price">
					Price:
					<span class="booking-price__sum">1000</span>
				</p>
				<button class="button-apply-book meeting-room__apply" form='meeting-room-form'>
					apply
				</button>
			</div>
		</div>
	</div>

	<svg style="display: none;">
		<symbol id='logo' viewBox="0 0 31 40">
			<path fill-rule="evenodd" d="M20.4593069,32.8365086 L23.8888332,29.1227295 L31,36.2862209 L27.570731,40 L20.4593069,32.8365086 Z M15.4625816,0 L26.0850832,10.7005349 L18.0964043,10.7005349 L18.0964043,25.4662469 L3.77682656,39.9891419 L0,36.2971308 L12.693955,23.3086219 L12.693955,10.7005349 L4.89641986,10.7005349 L15.4625816,0 Z"
			 id="Combined-Shape"></path>
		</symbol>
		<symbol id='arrow-left'>
			<path stroke="none" transform="matrix(-0.664679 0.664682 0.664682 0.664679 8.66016 0.303762)" d="M4 0L4 1.6L9.272 1.6L0 10.872L1.128 12L10.4 2.728L10.4 8L12 8L12 0L4 0L4 1.6L9.272 1.6L0 10.872L1.128 12L10.4 2.728L10.4 8L12 8L12 0L4 0Z" />
		</symbol>
		<symbol id='icon-edit' viewBox="0 0 24 24">
			<path fill-rule="evenodd" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
		</symbol>
	</svg>
</body>

</html>