.button-back {
    width: 32px;
    height: 32px;
    background-color: $BUTTON-COLOR;
    border: none;
    outline: none;
    border-radius: 2px;
    @extend %flex-row-c;
    align-items: center;

    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-items: start;
        align-items: center;
        justify-content: start;
        grid-column-gap: 1rem;
    }

    &__img {
        width: 17px;
        height: 17px;
        fill: $GREY;
    }

    &__text {
        cursor: default;
        text-transform: uppercase;
        font-family: $base-font;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.7px;
        text-align: left;
        color: $GREY;
    }

    &:hover &__img {
        fill: $MERGE-MAIN-COLOR;
        transition: fill ease-in-out 0.2s;
    }
    &:not(:hover) &__img {
        transition: fill ease-in-out 0.2s;
    }
    &:active {
        background-color: $MERGE-MAIN-COLOR;
        transition: background-color ease-in-out 0.2s;
    }
    &:active &__img {
        fill: $MAIN-DARK-COLOR;
        transition: fill ease-in-out 0.2s;
    }
}
