.button-menu {
    height: 24px;
    width: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
	padding: 0 2px;
	
    &__wrapper {
        @extend %flex-col-c;
        height: 30px;
        width: 30px;

        &:hover .button-menu__cloud {
            height: 20px;
            background-color: $GREY;
            color: white;
            transition: background-color 0.3s ease-in-out,
                color 0.3s ease-in-out;

            &:after {
                border-top-color: $GREY;
                transition: border-top-color 0.3s ease-in-out;
            }
        }
    }
    &__cloud {
        height: 0;
        width: 60px;
        text-transform: uppercase;
        font-family: $base-font;
        background-color: transparent;
        border-radius: 3px;
        font-size: 10px;
        font-weight: 500;
        color: transparent;
        top: -34px;
        left: -50%;
        @extend %flex-row-c;
        position: absolute;

        &:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: transparent;
            border-top-color: transparent;
            border-width: 5px;
            margin-left: -5px;
        }
    }

    &__item {
        height: 2px;
        background-color: $GREY;
        width: 10px;
        border: none;
        &::before {
            content: '';
            position: absolute;
            height: 2px;
            background-color: $GREY;
            width: 14px;
            top: 5px;
            left: 2px;
        }
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            background-color: $GREY;
            width: 18px;
            bottom: 5px;
            left: 2px;
        }
    }
    &:hover &__item,
    &:hover &__item::before,
    &:hover &__item::after {
        background-color: $MERGE-MAIN-COLOR;
        transition: background-color 0.2s ease-in-out;
    }
    &:not(:hover) &__item,
    &:not(:hover) &__item::before,
    &:not(:hover) &__item::after {
        transition: background-color 0.2s ease-in-out;
    }

    &:focus {
        background-color: $BUTTON-COLOR;
        height: 32px;
        width: 32px;
        transform: rotate(90deg);
        transition: transform 0.2s ease-in-out,
            background-color 0.4s ease-in-out;
    }
    &:focus &__item {
        height: 0;

        &::before {
            left: 9px;
            top: 7px;
            transform-origin: center left;
            transform: rotate(45deg);
            transition: transform 0.2s linear;
            width: 20px;
        }
        &::after {
            left: 9px;
            bottom: 7px;
            transform-origin: center left;
            transform: rotate(-45deg);
            transition: transform 0.2s linear;
            width: 20px;
        }
    }

   
}