.navigation {
    padding: 48px 0;
    width: 112px;
    min-width: 40px;
    height: 100vh;
    z-index: 10;
    background-color: $MAIN-DARK-COLOR;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    &--border {
        border-right: 1px solid $DARK-GREY;
    }
}

.logo {
    fill: $MERGE-MAIN-COLOR;
    width: 31px;
    height: 40px;
    align-self: start;
}

