.social-networks {
    align-self: end;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 1.5em;
    &__link {
        text-decoration: none;
        width: 24px;
        height: 24px;
        @extend %flex-col-c;
        background-color: $BUTTON-COLOR;
    }

    &__img {
        width: 16px;
        height: 16px;
        fill: white;
        &:hover {
            fill: $MERGE-MAIN-COLOR;
            transition: fill ease-in-out 0.1s;
        }
        &:not(:hover) {
            transition: fill ease-in-out 0.1s;
        }
    }
}
