.social-networks {
    align-self: end;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 1.5em;
    align-items: center;
    @media (max-width: 600px), (max-height: 500px) {
        display: none;
    }
    &__link {
        text-decoration: none;
        width: 24px;
        height: 24px;
        @extend %flex-col-c;
        background-color: $BUTTON-COLOR;
        @media (max-width: 600px), (max-height: 500px) {
            width: 42px;
            height: 42px;
        }
    }

    &__img {
        width: 16px;
        height: 16px;
        fill: white;
        @media (max-width: 600px), (max-height: 500px) {
            width: 32px;
            height: 32px;
        }
        @media (min-width: 600px) {
            &:hover {
                fill: $MERGE-MAIN-COLOR;
                transition: fill ease-in-out 0.1s;
            }
            &:not(:hover) {
                transition: fill ease-in-out 0.1s;
            }
        } 
    }
    
    &--hello {
        display: none;
        @media (max-width: 600px), (max-height: 500px) {
            padding-top: 2rem;
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-column-gap: 3rem;
            align-items: center;
            grid-area: social;
        }
    }
}
