<div class="slider-room">
	<div class="slider-room__slide">
		<img id='slide-image' src="https://picsum.photos/1280/720/?image=0" alt="photo" class="slider-room__image">
	</div>
	<div class="slider-room__nav">
		<button id='slide-prev' class="slider-room__button slider-room__button--prev">
			<svg class='slider-room__nav-icon'>
				<use xlink:href='#chevron-left' />
			</svg>
		</button>
		<p class="slider-room__counter-box">
			<span class="sider-room__counter"></span>
			/
			<span class="sider-room__sum"></span>
		</p>
		<button id='slide-next' class="slider-room__button slider-room__button--next">
			<svg class='slider-room__nav-icon'>
				<use xlink:href='#chevron-right' />
			</svg>
		</button>
	</div>
</div>