.booking-workplace {
    flex: 0 0 30%;
    @extend %flex-col-sb;
    will-change: transform;
    align-items: flex-start;
    animation-name: slideRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    @media (min-width: 600px) {
        min-width: 430px;
    }
    @media (max-width: 600px) {
        flex: 0 0 100%;
        align-self: flex-start;
    }
    &__wrapper {
        width: 100%;
        min-height: 100vh;
        @extend %flex-row-c;
        align-items: center;
        @media (max-width: 600px) {
            padding: 2rem;
            padding-top: 4rem;
            .logo__wrapper {
                position: absolute;
                left: auto;
                right: auto;
                top: 1rem;
            }
        }
    }
    &__inner {
        width: 100%;
        @extend %flex-row;
        align-items: center;
        
        &--back-button {
            justify-content: flex-start;
            padding-bottom: 22px;
            border-bottom: 1px solid $BACK-LINE-COLOR;
        }
        &--choice {
            justify-content: space-between;
            align-items: center;
            padding-bottom: 30px;
            border-bottom: 1px solid $BUTTON-COLOR;
            @media (max-width: 460px) {
                flex-direction: column;
            }
        }
        &--form {
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 22px;
            &:last-child {
                margin-bottom: 0;
            }
            @media (max-width: 550px) {
                flex-direction: column;
            }
        }
        &--price {
            justify-content: space-between;
            align-items: center;
            padding-top: 26px;
            border-top: 1px solid $BUTTON-COLOR;
        }
        
    }

    &__title {
        font-family: $title-font;
        font-size: 40px;
        font-weight: 500;
        text-align: left;
        color: $TEXT-COLOR;
        margin: 24px 0 28px 0;
        @media (max-width: 600px) {
            text-align: center;
        }
    }

    &__col {
        @extend %flex-col;
        &--form {
            padding: 32px 0 29px 0;
            width: 100%;
        }
    }
    &__input-wrapper {
        @extend %flex-col;
        width: 48%;
        @media (max-width: 550px) {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    &__description {
        font-family: $base-font;
        font-size: 10px;
        font-weight: 500;
        text-align: left;
        color: $GREY;
        margin-bottom: 24px;
    }

    &__input {
        width: 100%;
        height: 40px;
        background-color: $BUTTON-COLOR;
        border: none;
        outline: none;
        text-indent: 16px;
        font-family: $base-font;
        font-size: 10px;
        font-weight: 500;
        text-align: left;
        color: $TEXT-COLOR;
        &::placeholder {
            text-indent: 16px;
            color: $GREY;
            font-size: 10px;
            font-weight: 500;
            font-family: $base-font;
        }
    }

    &__label {
        text-transform: uppercase;
        font-family: $base-font;
        font-size: 8px;
        font-weight: bold;
        text-align: left;
        color: $TEXT-COLOR;
        @extend %flex-col-fs;
        align-items: flex-start;
        margin-bottom: 11px;
    }
}
