.workplace-choice {
    width: 128px;
    height: 74px;
    border-radius: 3px;
    background-color: $MAIN-DARK-COLOR;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
    @media (max-width: 600px) {
        width: 100%;
    }
    @media (max-width: 460px) {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    &:last-child {
        margin: 0;
    }
    &__input {
        position: absolute;
        z-index: -10;
        outline: none;
        &:checked + .workplace-choice__inner {
            background-color: $MERGE-SECONDARY-COLOR;
            border-color: $MERGE-SECONDARY-COLOR;
            transition: background-color ease-in-out 0.2s,
                    border-color ease-in-out 0.2s;
            .workplace-choice__title,
            .workplace-choice__resident {
                color: $MAIN-DARK-COLOR;
                transition: color ease-in-out 0.3s;
            }
            .workplace-choice__price {
                color: #333333;
                transition: color ease-in-out 0.3s;
            }
            .workplace-choice__img {
                fill: $MAIN-DARK-COLOR;
                transition: fill ease-in-out 0.3s;
            }
        }
        &:active + .workplace-choice__inner{
            filter: blur(1px) brightness(0.6);
            transition: filter ease-in-out 0.2s;
        }
        &:not(:active) + .workplace-choice__inner{
            transition: filter ease-in-out 0.2s;
        }
    }
    &__inner {
        border-radius: 3px;
        background-color: $MAIN-DARK-COLOR;
        border: solid 2px $DARK-GREY;
        outline: none;
        @extend %flex-col-sb;
        align-items: flex-start;
        padding: 10px 13px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__title {
        font-family: $base-font;
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        color: $GREY;
    }
    &__resident {
        font-family: $base-font;
        font-size: 9px;
        font-weight: 500;
        text-align: left;
        color: $GREY;
        text-decoration: none;
        
    }
    
    &__price {
        font-family: $base-font;
        font-size: 10px;
        font-weight: 500;
        text-align: left;
		color: $GREY;
		&::after {
			content: ' uah';
		}
    }
    &__link-img {
        position: absolute;
        width: 16px;
        height: 16px;
        text-decoration: none;
        right: 12px;
        top: 12px;
    }
    &__img {
        position: absolute;
        width: 16px;
        height: 16px;
        fill: $GREY;
        right: 12px;
        top: 12px;
        &--resident {
            position: static;
            width: 100%;
            height: 100%;
        }
    }
    &:hover &__inner {
        background-color: $MERGE-SECONDARY-COLOR;
        border-color: $MERGE-SECONDARY-COLOR;
        transition: background-color ease-in-out 0.3s,
                    border-color ease-in-out 0.3s;
        .workplace-choice__resident:hover {
            text-decoration: underline;
            color: white;
            transition: color ease-in-out 0.2s,
                        text-decoration ease-in-out 0.2s;
        }
        .workplace-choice__resident:not(:hover) {
            transition: color ease-in-out 0.2s,
                        text-decoration ease-in-out 0.2s;
        }
        .workplace-choice__link-img:hover > svg {
            fill: white;
            transition: fill ease-in-out 0.1s;
        }
        .workplace-choice__link-img:not(:hover) > svg {
            transition: fill ease-in-out 0.1s;
        }
    } 

    &:not(:hover) &__inner {
        transition: background-color ease-in-out 0.3s,
            border-color ease-in-out 0.3s;
    }
    &:hover &__title,
    &:hover &__resident {
        color: $MAIN-DARK-COLOR;
        transition: color ease-in-out 0.3s;
    }
    &:hover &__price {
        color: #333333;
        transition: color ease-in-out 0.3s;
    }

    &:not(:hover) &__title,
    &:not(:hover) &__resident {
        transition: color ease-in-out 0.3s;
    }
    &:not(:hover) &__price {
        transition: color ease-in-out 0.3s;
    }

    &:hover &__img {
        fill: $MAIN-DARK-COLOR;
        transition: fill ease-in-out 0.3s;
    }

    &:not(:hover) &__img {
        transition: fill ease-in-out 0.3s;
    }
    
}