.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    @extend %flex-col-c;
    align-items: center;
    background-color: #111111;
    z-index: 100000;
    animation-name: fadeIn;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
    &__title {
        font-size: 80px;
        text-align: left;
        font-family: $title-font;
        letter-spacing: 20px;
        color: #1f1f1f;
        text-align: center;
        text-shadow: 0 12px 4px rgba(0, 0, 0, 0.5);
    }
    &__percent {
        font-family: $base-font;
        font-size: 10px;
        text-align: center;
        color: $TEXT-COLOR;
    }
    &__fade {
        opacity: 0;
        transition: opacity ease-in-out 0.5s;
    }
}
