.language {
    font-family: $base-font;
    font-weight: 700;
    font-size: 10px;
    color: $GREY;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 16px;
    &:last-child {
        margin-right: 0;
    }
    &__wrapper {
        @extend %flex-row-fs;
    }
    &:hover {
        color: white;
        transition: color ease-in-out 0.2s;
    }
    &:not(:hover) {
        transition: color ease-in-out 0.2s;
    }
}