.menu {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: stretch;
    align-items: stretch;
    will-change: transform;
    animation-name: slideRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    @media (max-width: 920px) {
        grid-template-columns: 112px repeat(4, 1fr);
    }
    @media (max-width: 850px) {
        grid-template-columns: none;
        grid-template-rows: 60px repeat(4, auto);
        animation-name: slideDown;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }
    &__col {
        height: 100%;
        grid-column: 1;
        grid-row: 1;
        border-right: 0.5px solid $DARK-GREY;
        @extend %flex-col-c;
        align-items: flex-start;
        
        &--links {
            grid-column: 2;
            grid-row: 1;          
        }
        &--links-second {
            grid-column: 3;
            grid-row: 1;          
        }
        &--locate {
            grid-column: 4;           
        }
        &--contact {
            grid-column: 5;
        }
        &--locate,
        &--contact {
            grid-row: 1;
            display: grid;
            align-content: center;
            align-items: center;
            justify-items: start;
            justify-content: start;
            grid-template-rows:
                3rem repeat(2, 1.3rem)
                2rem repeat(2, 1.3rem)
                5.5rem 2.5rem 3rem
                4rem;
        }
        @media (max-width: 850px) {
            padding: 2rem 0;
            height: auto;
            width: 100%;
            border-right: none;
            border-bottom: 0.5px solid $DARK-GREY;
            justify-content: center;
            justify-items: center;
            &--links {
                grid-column: 1;
                grid-row: 2;
                border-bottom: none;
            }
            &--links-second {
                grid-column: 1;
                grid-row: 3;
            }
            &--locate {
                grid-column: 1;
                grid-row: 4 / 5 ;
                > :nth-child(odd), .menu-row-9 {
                    margin-bottom: 2rem;
                }
                .menu-row-8 {
                    margin: 0;
                }
                
            }
            &--contact {
                grid-column: 1;
                grid-row: 5;
                > :nth-child(even) {
                    margin-bottom: 2rem;
                }
            }
            &--locate,
            &--contact {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
        }
        @media (max-width: 460px) {
            .menu-row-10 {
                width: 100%;
                padding: 0 1rem;
                button {
                    width: 100%;
                }
            }  
        }
    }
    &__inner {
        grid-column: 2 / 4;
        grid-row: 1;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 3em;
        align-content: center;
        align-items: center;
        justify-items: start;
        @media (max-width: 850px) {
            padding: 1rem 0;
            justify-items: center;
            grid-column: 1;
            grid-row: 2 / 4;
        }
    }
    &__list {
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-row-gap: 2rem;
        align-content: center;
        align-items: center;
        justify-items: start;
        @media (max-width: 850px) {
            justify-items: center;
        }
    }
    &__item {
        @media (max-width: 850px) {
            text-align: center;
        }
    }
    &__text {
        font-family: $base-font;
        font-size: 13px;
        color: $TEXT-COLOR;
        letter-spacing: 0.9px;
        text-align: left;
        line-height: 1.69;
        &--day {
            font-weight: 400;
        }
        &--time {
            font-weight: 700;
        }
        &--city {
            font-weight: 400;
            line-height: 1.85;
        }
        &--adress {
            font-weight: 700;
            line-height: 1.85;
        }
    }
    &__link {
        text-decoration: none;
        font-family: $title-font;
        font-size: 40px;
        font-weight: 500;
        color: $TEXT-COLOR;
        white-space: nowrap;
        &:hover {
            color: $MERGE-MAIN-COLOR;
            transition: color ease-in-out 0.2s;
        }
        &:not(:hover) {
            transition: color ease-in-out 0.2s;
        }
    }
    &__language {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 0.5em;
       
        &-link {
            font-family: $base-font;
            font-weight: 700;
            font-size: 10px;
            color: $GREY;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 16px;
            text-align: center;
            &:last-child {
                margin: 0;
            }
            &:hover {
                color: white;
                transition: color ease-in-out 0.2s;
            }
            &:not(:hover) {
                transition: color ease-in-out 0.2s;
            }
        }
        @media (max-width: 850px) {
            padding-bottom: 2rem;
        }
    }
    &__image {
        fill: $TEXT-COLOR;
        width: 100%;
        height: 100%;
        &-wrapper {
            height: 24px;
            width: 24px;
        }
    }
    &__contact {
        font-family: $base-font;
        font-size: 13px;
        color: $MERGE-MAIN-COLOR;
        letter-spacing: 0.9px;
        text-align: left;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            opacity: 0.7;
            transition: opacity ease-in-out 0.2s;
        }
    }
}
@for $i from 1 to 11 {
    .menu-row-#{$i} {
        grid-row: #{$i};
    }
}
@media (min-width: 850px) {
    .menu-row-1 {
        align-self: start;
    }
    .menu-row-4,
    .menu-row-7,
    .menu-row-8,
    .menu-row-10 {
        align-self: end;
    }
}


