.menu {
    width: 100%;
    min-height: 100vh;
	background-color: black;
	margin-right: 16px;
	@extend %flex-row;
	&__info-block {
		&--calendar {
			margin-bottom: 55px;
		}
		&--location {
			margin-bottom: 26px;
		}
		&--phone {
			margin-bottom: 33px;
		}
		&--mail {
			margin-bottom: 215px;
		}
	}
	&__text {
		font-family: $base-font;
		font-size: 13px;
		color: $TEXT-COLOR;
		letter-spacing: 0.9px;
		text-align: left;
		line-height: 1.69;
		&--above {
			font-weight: 400;
		}
		&--under {
			font-weight: 700;
		}
		&--loc {
			line-height: 1.85;
		}
		&--margin {
			margin-bottom: 35px;
		}
	}
	&__contact {
		font-family: $base-font;
		font-size: 13px;
		color: $MERGE-MAIN-COLOR;
		letter-spacing: 0.9px;
		text-align: left;
		font-weight: 500;
		text-decoration: none;
		margin-bottom: 35px;
		&:hover {
			opacity: 0.7;
			transition: opacity ease-in-out 0.2s;
		}
	}
	
	&__col {
		width: 20%;
		min-width: 189px;
		border-right: 0.5px solid $DARK-GREY;
		@extend %flex-col;
		justify-content: center;
		
		&:last-child {
			border-right: none;
		}
		
		&--button {
			position: relative;
			padding: 48px 0;
		}
	}
	&__inner {
		min-height: 400px;
		height: 430px;
		max-height: 100%;
		flex-shrink: 1;
		@extend %flex-col;
		justify-content: space-between;
	}

	&__image {
		fill: $TEXT-COLOR;
		height: 24px;
		width: 24px;
		margin-bottom: 20px;
	}
	&__list {
		list-style: none;
		margin-bottom: 67px;
	}
	&__item {
		margin-bottom: 24px;
	}
	&__link {
		text-decoration: none;
		font-family: $title-font;
		font-size: 40px;
		font-weight: 500;
		color: $TEXT-COLOR;
		white-space: nowrap;
		&:hover {
			color: $MERGE-MAIN-COLOR;
			transition: color ease-in-out 0.2s;
		}
		&:not(:hover) {
			transition: color ease-in-out 0.2s;
		}
	}
}


