.about-us {
    width: 100%;
    display: grid;
    @extend %flex-col;
    align-items: center;
    align-items: center;
    justify-items: center;
    padding: 156px 112px;
    animation-name: slideRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    &__main {
        min-width: 768px;
        max-width: 60%;
        @extend %flex-col-c;
        align-items: flex-start;
        &--margin {
            margin-bottom: 68px;
        }
    }
    &__header {
        width: 100%;
        @extend %flex-row-sb;
        align-items: center;
        margin: 0 0 78px 0;
    }
    &__title {
        font-family: $title-font;
        font-size: 5rem;
        font-weight: 500;
        text-align: left;
        color: $TEXT-COLOR;
        white-space: nowrap;
    }
    &__inf {
        text-align: left;
        align-self: flex-end;
        min-width: 576px;
        max-width: 40%;
        @extend %flex-col;
        align-items: flex-start;
        &--margin {
            margin-bottom: 90px;
        }
    }
    &__caption {
        cursor: default;
        padding: 4px 7px;
        background-color: $MERGE-MAIN-COLOR;
        text-align: center;
        font-family: $title-font;
        font-size: 0.625rem;
        font-weight: bold;
        letter-spacing: 0.7px;
        color: $MAIN-DARK-COLOR;
    }
    &__subtitle {
        padding: 22px 0;
        font-family: $title-font;
        font-size: 1.875rem;
        font-weight: bold;
        text-align: left;
        color: $TEXT-COLOR;
        position: relative;
        &::after {
            content: '';
            width: 32px;
            height: 3px;
            background-color: #ffffff;
            position: absolute;
            right: -51px;
            top: 50%;
        }
    }
    &__text {
        font-family: Montserrat;
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 2.38;
        letter-spacing: 0.9px;
        text-align: left;
        color: $TEXT-COLOR;
    }
}
