.about-us {
    width: 100%;
    @extend %flex-col;
    align-items: center;
    justify-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    padding-top: 7rem;
    animation-name: slideRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    &__wrapper {
        display: flex;
        padding: 0 112px;
        @media (max-width: 920px) {
            justify-content: flex-start;  
            padding: 0 0 0 112px;
        }
        @media (max-width: 600px) {
            justify-content: flex-start;  
            padding: 0 1rem;
        }

    }
    &__main {
        width: 100%;
        padding: 0 10%;
        @extend %flex-col-c;
        align-items: flex-start;
        &--margin {
            margin-bottom: 68px;
        }
        @media (max-width: 920px) {
            padding: 0 5%;
            
        }
        @media (max-width: 600px) {
            padding: 0;
            
        }
    }
    &__header {
        width: 100%;
        @extend %flex-row-sb;
        align-items: center;
        margin: 0 0 78px 0;
        @media (max-width: 990px) {
            flex-direction: column;  
            align-items: flex-start;
        }
        button {
            @media (max-width: 990px) {
                align-self: flex-end;
            }
            @media (max-width: 600px) {
                align-self: center;
            }
        }
    }
    &__title {
        font-family: $title-font;
        font-size: 5rem;
        font-weight: 500;
        text-align: left;
        color: $TEXT-COLOR;
        white-space: nowrap;
        margin: 0;
        
        @media (max-width: 990px) {
            margin-bottom: 2rem;
        }
        @media (max-width: 600px) {
            white-space: normal;
            align-self: center;
            text-align: center;
        }
        
    }
    &__inf {
        @extend %flex-row;
        justify-content: flex-end;  
        transition: flex ease-in-out 0.3s;
        
        &--margin {
            margin-bottom: 90px;
        }
        @media (max-width: 920px) {
            flex-grow: 1;
        flex-shrink: 1;
            justify-content: flex-start;  
            
        }
    }
    &__inner {
        flex: 0 0 60%;
        text-align: left;
        @extend %flex-col;
        align-items: flex-start;
        @media (max-width: 920px) {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }
    &__caption {
        cursor: default;
        padding: 4px 7px;
        background-color: $MERGE-MAIN-COLOR;
        text-align: center;
        font-family: $title-font;
        font-size: 0.625rem;
        font-weight: bold;
        letter-spacing: 0.7px;
        color: $MAIN-DARK-COLOR;
    }
    &__subtitle {
        padding: 22px 0;
        font-family: $title-font;
        font-size: 1.875rem;
        font-weight: bold;
        text-align: left;
        color: $TEXT-COLOR;
        position: relative;
        &::after {
            content: '';
            width: 32px;
            height: 3px;
            background-color: #ffffff;
            position: absolute;
            right: -51px;
            top: 50%;
        }
    }
    &__text {
        flex-grow: 1;
        flex-shrink: 1;
        font-family: Montserrat;
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 2.38;
        letter-spacing: 0.9px;
        text-align: left;
        color: $TEXT-COLOR;
    }
}
