.subscription-type {
    padding-left: 14px;
    width: 128px;
    height: 68px;
    border-radius: 3px;
    background-color: transparent;
    border: solid 2px $DARK-GREY;
    outline: none;
    cursor: pointer;
    @extend %flex-col-se;
    align-items: flex-start;
    position: relative;
    margin-right: 1.5rem;
    @media (max-width: 700px) {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 100%;
    }
    &:last-of-type {
        margin: 0;
    }
    &--resident {
        height: 84px;
    }
    &__wrapper {
        width: 100%;
        @extend %flex-row;
        align-items: flex-start;
        @media (max-width: 700px) {
           flex-direction: column;
           align-items: flex-start;
           padding: 0 2rem;
        }
        &--margin {
            margin-bottom: 100px;
        }
        
    }
    &__title {
        font-family: $base-font;
        font-size: 0.875rem;
        font-weight: 700;
        text-align: left;
        color: $TEXT-COLOR;
    }
    &__resident {
        font-family: $base-font;
        font-size: 0.5625rem;
        font-weight: 500;
        text-align: left;
        color: $GREY;
        text-decoration: none;
        &:hover {
            color: $TEXT-COLOR;
            transition: color ease-in-out 0.2s;
        }
        &:not(:hover) {
            transition: color ease-in-out 0.2s;
        }
    }
    &__price {
        font-family: $base-font;
        font-size: 0.625rem;
        font-weight: 500;
        text-align: left;
        color: $TEXT-COLOR;
        &::after {
            content: ' uah';
        }
    }
    &__link-img {
        position: absolute;
        width: 16px;
        height: 16px;
        text-decoration: none;
        right: 11px;
        top: 11px;
        &:hover .subscription-type__img {
            fill: white;
            transition: fill ease-in-out 0.1s;
        }
        &:not(:hover) .subscription-type__img {
            transition: fill ease-in-out 0.1s;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        fill: $GREY;
    }
    &:active {
        filter: blur(1px) brightness(0.6);
        transition: filter ease-in-out 0.2s;
    }
    &:not(:active) {
        transition: filter ease-in-out 0.2s;
    }
    &:hover {
        border-color: $TEXT-COLOR;
        transition: border-color ease-in-out 0.2s;
    }
    &:not(:hover) {
        transition: border-color ease-in-out 0.2s;
    }
}
