.hello {
    width: 100%;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1.2fr 1.6fr 32px 2.1fr 3.8fr;
    grid-template-rows: auto auto 3.5rem 10.5rem auto;
    grid-template-areas: 
        ". title      title    title    ."
        ". subtitle   subtitle subtitle ."
        ". link-1     .        link-2   ."
        ". text       text     text     ."
        ". btn-member .        btn-book .";
    align-content: center;
    justify-items: start;
    
    &__title {
        grid-area: title;
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin: 0;
        font-size: 80px;
        text-align: left;
        font-family: $title-font;
        color: white;
        font-weight: 500;
    }

    &__logo {
        align-self: end;
        margin: 0;
        font-size: 80px;
        text-align: left;
        font-family: $title-font;
        font-weight: 500;
        color: $MERGE-MAIN-COLOR;
        letter-spacing: 20px;
    }

    &__subtitle {
        margin: 0;
        grid-area: subtitle;
        text-transform: uppercase;
        font-family: $base-font;
        color: white;
        font-size: 17px;
        font-weight: 700;
        white-space: nowrap;
    }

    &__text {
        grid-area: text;
        align-items: start;
        font-family: $base-font;
        color: white;
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        line-height: 2.5;
        border-top: 1px solid $BUTTON-COLOR; 
        padding-top: 1.2em;
        &--link {
            text-decoration: none;
            color: $TEXT-LINK-COLOR;
            font-weight: 600;
        }
        
	}
	
}

.hello > .button-membership {
    grid-area: btn-member;
}

.hello > .button-book-room {
    grid-area: btn-book;
}

