$MERGE-MAIN-COLOR: #50e3c2;
$MERGE-SECONDARY-COLOR: #37cdab;
$MAIN-DARK-COLOR: #111111;
$TEXT-LINK-COLOR: #4faefe;
$BUTTON-COLOR: #1f1f1f;
$ERROR-COLOR: #f1465a;
$GREY: #898989;
$DARK-GREY: #333333;
$TEXT-COLOR: #ffffff;
$BACK-LINE-COLOR: #515151;


$base-font: 'Montserrat', sans-serif;
$title-font: 'Roboto Mono', monospace;