@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Roboto+Mono:500,700');
@import 'normalize';
@import 'variables';
@import 'mixines';
@import 'animations';
@import '../components/common/_logo/logo';
@import '../components/common/_loader/loader';
@import '../components/common/_booking-price/booking-price';
@import '../components/common/_buttons/button-book-room/button-book-room';
@import '../components/common/_buttons/button-membership/button-membership';
@import '../components/common/_buttons/button-apply-book/button-apply-book';
@import '../components/common/_buttons/button-map/button-map';
@import '../components/common/_buttons/button-back/button-back';
@import '../components/common/_navigation/navigation';
@import '../components/common/_navigation/button-menu';
@import '../components/common/_navigation/social-networks';
@import '../components/pages/hello/hello';
@import '../components/pages/hello/hello-link';
@import '../components/pages/menu/menu';
@import '../components/pages/menu/menu-button-close';
@import '../components/pages/booking-workplace/workplace-choice';
@import '../components/pages/booking-workplace/booking-workplace';
@import '../components/pages/meeting-room/meeting-room';
@import '../components/pages/meeting-room/check-free-time';
@import '../components/pages/meeting-room/resident-time-info';
@import '../components/pages/resident-card/resident-card';
@import '../components/pages/about-us/about-us';
@import '../components/pages/about-us/subscription-type';
@import '../components/pages/about-us/work-time';
@import '../components/common/_slider-room/slider-room';
@import '../components/common/_next-page-nav/next-page-nav';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 100vw;
    width: 100%;
}

[hidden] {
    display: none;
}

body {
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    @extend %flex-row-s;
    background-color: $MAIN-DARK-COLOR;
}

a,
button {
    cursor: pointer;
}

.page {
    width: 100%;
    min-height: 100vh;
    background-color: $MAIN-DARK-COLOR;

    &--nav {
        display: grid;
        grid-template-columns: 112px auto;
    }

    &--center {
        @extend %flex-row-c;
    }

    &--menu {
        background-color: $DARK-GREY;
    }

    &--about-us {
        @extend %flex-col-sb;
        align-items: c;
    }
}

.logo {
    animation-name: rotateIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 100ms;
}
