@import 'variables';
@import 'mixines';
@import 'animations';
@import '../components/common/_loader/loader';
@import '../components/common/_buttons/button-book-room/button-book-room';
@import '../components/common/_buttons/button-membership/button-membership';
@import '../components/common/_buttons/button-apply-book/button-apply-book';
@import '../components/common/_buttons/button-map/button-map';
@import '../components/common/_buttons/button-back/button-back';
@import '../components/common/_navigation/navigation';
@import '../components/common/_navigation/social-networks';
@import '../components/pages/hello/hello';
@import '../components/pages/hello/hello-link';
@import '../components/pages/menu/menu';
@import '../components/pages/menu/menu-button-close';
@import '../components/pages/booking-workplace/workplace-choice';
@import '../components/pages/booking-workplace/booking-workplace';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100vw;
    min-width: 750px;
}
body {
    width: 100%;
    @extend %flex-row-s;
    background-color: $MAIN-DARK-COLOR;
}

a,
button {
    cursor: pointer;
}

.page {
    width: 100%;
    min-height: 100vh;
    background-color: $MAIN-DARK-COLOR;

    &--nav {
        display: grid;
        grid-template-columns: 112px auto;
    }

    &--center {
        @extend %flex-row-c;
    }

    &--menu {
        background-color: $DARK-GREY;
    }
}
