.button-membership {
    width: 187px;
    flex-shrink: 0;
    height: 40px;
    background-color: $MERGE-SECONDARY-COLOR;
    outline: none;
    border: none;
    border-radius: 4px;
    @extend %flex-row-c;
    align-items: center;

    &__text {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 7px;
        align-items: center;
        text-transform: uppercase;
        font-family: $base-font;
        font-size: 10px;
        font-weight: 700;
        text-align: center;
        color: $MAIN-DARK-COLOR;
        letter-spacing: 0.7px;
    }
    &__img {
        fill: $MAIN-DARK-COLOR;
        height: 12px;
        width: 16px;
        stroke: none;
    }
    @media (min-width: 600px) {
        &:hover {
            filter: brightness(110%);
            transition: filter ease-in-out 0.3s;
        }
    
        &:not(:hover) {
            transition: filter ease-in-out 0.3s;
        }
        &:hover &__img {
            transform: translateX(5px);
            transition: transform ease-in-out 0.2s;
        }
        &:not(:hover) &__img {
            transition: transform ease-in-out 0.2s;
        }
    }
    
}
